{% extends "admin/base_site.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
    <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
    &rsaquo;
    <a href="{% url 'admin:selftest_index' %}">{% trans 'Selftest' %}</a>
    {% if not is_index %} &rsaquo; {{ title }} {% endif %}
</div>
{% endblock %}

{% block content %}
<div id="content-main">
    <div id="change-history" class="app-selftest module">
    {% block selftest_content %}{% endblock %}
    </div>
</div>
{% endblock %}
