@import url('@gouvfr-lasuite/ui-kit/style');
@import url('../cunningham/cunningham-style.css');

:root {
  --header-height: 52px;
}

body {
  margin: 0;
  padding: 0;
  font-family: Marianne, sans-serif;
}

* {
  box-sizing: border-box;
}

main ::-webkit-scrollbar {
  width: 20px;
}

main ::-webkit-scrollbar-track {
  background-color: transparent;
}

main ::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

main ::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.hidden {
  display: none !important;
}

.block {
  display: block !important;
}

.flex {
  display: flex !important;
}

@media (width <= 768px) {
  .sm\:block {
    display: block !important;
  }

  .sm\:flex {
    display: flex !important;
  }
}

@media (width >= 768px) {
  .md\:hidden {
    display: none !important;
  }

  .md\:flex {
    display: flex !important;
  }

  .md\:block {
    display: block !important;
  }
}

.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 20px auto;
  padding: 0 10px;
}
