@import url('@gouvfr-lasuite/ui-kit/style');
@import url('../cunningham/cunningham-style.css');

:root {
  --header-height: 52px;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: Marianne, sans-serif;
  background-color: var(--c--contextuals--background--surface--tertiary);
}

.c__app {
  height: 100vh !important;
}

* {
  box-sizing: border-box;
}

main ::-webkit-scrollbar {
  width: 20px;
}

main ::-webkit-scrollbar-track {
  background-color: transparent;
}

main ::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

main ::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
}

.hidden {
  display: none !important;
}

.block {
  display: block !important;
}

.flex {
  display: flex !important;
}

@media (width <= 768px) {
  .sm\:block {
    display: block !important;
  }

  .sm\:flex {
    display: flex !important;
  }
}

@media (width >= 768px) {
  .md\:hidden {
    display: none !important;
  }

  .md\:flex {
    display: flex !important;
  }

  .md\:block {
    display: block !important;
  }
}

.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 12px auto;
  padding: 0 10px;
}

.c__button--with-icon--right {
  padding: 0.7rem !important;
}

.regie__panel__container {
  background-color: var(--c--contextuals--background--surface--primary);
  height: 100%;
  width: 100%;
  border-radius: 8px;
  overflow-x: hidden;
  overflow-y: auto;
  border: 1px solid var(--c--contextuals--border--surface--primary); 
}

